* {
  padding: 0%;
  margin: 0%;
}

body {
  background-color: lightgreen;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1; /* To keep the background below the content */
}

.title_1 {
  padding-top: 10px;
}

.title_2 {
  padding-top: 30px;
}

.table_Container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 5%;
}

.choices {
  padding-top: 30px;
  padding-bottom: 30px;
}

.table {
  table-layout: fixed;
  width: 50%; /* Adjust the table width as needed */
  border-collapse: collapse;
}

th,
td {
  border: 1px solid black;
  text-align: center;
  padding: 8px;
}

.tablePlaceholder {
  text-align: center;
  font-weight: bold;
}

.col-type {
  width: 6%;
}

.col-name {
  width: 45%;
}

.selectTag {
  margin-right: 5%;
}

.selectDate {
  margin-right: 5%;
}
